<div class="container mx-auto px-8 md:px-24 lg:px-48">
  <h1 class="text-4xl font-bold tracking-tight mb-6 mt-12">Datenschutzerklärung</h1>

  <p>Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TMG).</p>

  <h2 class="text-2xl font-bold mt-6">1. Verantwortlicher</h2>
  <p>Congruent Tech UG (haftungsbeschränkt)<br>
  Berlin-Niederschönhausen, Deutschland<br>
  <button onclick="window.location.href='mailto:arash.kashi@gmail.com'" class="text-blue-600 hover:underline">
    E-Mail senden
  </button>
  </p>

  <h2 class="text-2xl font-bold mt-6">2. Erhebung und Speicherung personenbezogener Daten</h2>
  <p>Unsere Website dient ausschließlich der Information. Es werden keine personenbezogenen Daten aktiv über Formulare erhoben.</p>

  <h2 class="text-2xl font-bold mt-6">3. Google Analytics</h2>
  <p>Diese Website verwendet Google Analytics, einen Webanalysedienst der Google Ireland Limited. Google verwendet Cookies zur Analyse der Benutzung der Website. Die durch das Cookie erzeugten Informationen werden in der Regel an einen Server von Google übertragen und dort gespeichert.</p>
  <p>Die IP-Adresse wird anonymisiert (IP-Anonymisierung), sodass keine direkte Zuordnung möglich ist. Weitere Informationen: <a href="https://support.google.com/analytics/answer/6004245" target="_blank" class="text-blue-600 hover:underline">Google Datenschutzerklärung</a>.</p>

  <h2 class="text-2xl font-bold mt-6">4. Google Fonts</h2>
  <p>Zur einheitlichen Darstellung von Schriftarten nutzt diese Seite Google Fonts. Die Fonts werden lokal eingebunden oder von Google-Servern abgerufen. Dabei kann Ihre IP-Adresse an Google übermittelt werden.</p>

  <h2 class="text-2xl font-bold mt-6">5. Hosting</h2>
  <p>Die Website wird über GitHub Pages gehostet. Beim Aufruf der Seiten werden automatisch Server-Logfiles erfasst (z. B. IP-Adresse, Datum, Uhrzeit). Diese Daten dienen der technischen Überwachung und Sicherheit und werden nicht mit anderen Datenquellen zusammengeführt.</p>

  <h2 class="text-2xl font-bold mt-6">6. Keine Cookies</h2>
  <p>Unsere Website verwendet Cookies im Rahmen von Google Analytics, jedoch nur nach Ihrer Einwilligung.</p>
  

  <h2 class="text-2xl font-bold mt-6">7. Ihre Rechte</h2>
  <p>Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt, können Sie sich bei der zuständigen Aufsichtsbehörde beschweren.</p>
</div>