<footer class="bg-white border-t">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6 flex flex-col md:flex-row justify-between items-center">
    <div class="flex items-center space-x-4">
      <img src="/assets/svg/FlaggevonBerlin.svg" alt="Berlin Flag" class="h-5 w-5">
      <span class="text-gray-700">Berlin · <span class="font-bold">Niederschönhausen</span></span>
    </div>
    <div class="flex space-x-6 mt-4 md:mt-0">
      <a href="/en/impressum" class="text-gray-600 hover:underline">Impressum</a>
      <a href="/en/datenschutzer" class="text-gray-600 hover:underline">Datenschutz</a>
      <a href="/barrierefreiheit" class="text-gray-600 hover:underline">Erklärung zur Barrierefreiheit</a>
    </div>
    <div class="flex space-x-4 mt-4 md:mt-0">
      <a href="https://stackoverflow.com/users/2833860/congruent-tech-ug" target="_blank" rel="nofollow">
        <img src="/assets/svg/logo-stackoverflow.svg" alt="stackoverflow" class="w-24 h-auto md:w-28 lg:w-32">
      </a>
    </div>
  </div>
</footer>