<div class="container mx-auto px-8 md:px-24 lg:px-48">
  <h1 class="text-4xl font-bold tracking-tight mb-6 mt-12">Impressum</h1>

  <p><strong>Angaben gemäß § 5 TMG:</strong></p>
  <p>Congruent Tech UG (haftungsbeschränkt)<br>
  Berlin-Niederschönhausen, Deutschland</p>

  <p><strong>Vertreten durch:</strong><br>
  Die Geschäftsführung</p>

  <p><strong>Kontakt:</strong><br>
  <button onclick="window.location.href='mailto:arash.kashi@gmail.com'" class="text-blue-600 hover:underline">
    E-Mail senden
  </button>
  </p>

  <p><strong>Registereintrag:</strong><br>
  Eingetragen im Handelsregister.<br>
  Betriebsnummer: 86234019</p>

  <p><strong>Umsatzsteuer-ID:</strong><br>
  Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
  DE325411420</p>

  <p><strong>Inhaltlich verantwortlich gemäß § 55 Abs. 2 RStV:</strong><br>
  Die Congruent Tech UG</p>

  <p><em>Hinweis: Als UG (haftungsbeschränkt) unterliegt dieses Unternehmen keiner berufsrechtlichen Aufsicht, da keine regulierten Berufsgruppen betroffen sind.</em></p>
</div>