<div class="container mx-auto px-8 md:px-24 lg:px-48">
    <h1 class="text-4xl font-bold tracking-tight mb-6 mt-12">Services</h1>
    
    <p>We offer <strong>tailored technology solutions</strong> to help businesses grow, automate processes, and stay ahead in the digital landscape.</p>
    
    <h2 class="text-2xl font-bold mt-6">SEO Consultation</h2>
    <p>Boost your online visibility with expert SEO strategies. We optimize websites for search engines, ensuring increased traffic and better ranking.</p>
    
    <h2 class="text-2xl font-bold mt-6">macOS & iOS Development</h2>
    <p>We design and develop <strong>custom iOS and macOS applications</strong> with a focus on performance, security, and user experience.</p>
    
    <h2 class="text-2xl font-bold mt-6">
    <a href="/en/services/AI" class="text-blue-600 hover:underline">AI Tool Development</a>
	</h2>
	<p>We build intelligent AI-driven tools to <strong>enhance productivity</strong>, automate workflows, and provide data-driven insights.</p>

   <h2 class="text-2xl font-bold mt-6">ERP Services</h2>
   <p>Streamline and integrate your business operations with our <strong>custom ERP solutions</strong>. From inventory to finance, we build systems that enhance efficiency and support growth.</p>

    <h2 class="text-xl font-bold mt-6">Get in Touch</h2>
    <p>Let’s discuss how our services can benefit your business. Contact us at 
       <a href="mailto:arashkashi@gmail.com" class="text-blue-500 hover:underline">here</a>.
    </p>
</div>